.bg-common-color{
    background: linear-gradient(#6642F6,#5F19E7);
}
.btn-width{
    width:fit-content;
}
.account{
    background: #e1e1e2;
}
.user-icon{
    font-size: 55px;
    text-align: center;
}
.cart-message-size{
    font-size: 12px;
}
.bannar{
    padding-top:5%;
    padding-bottom: 15%;
}
 .next-batch{
    position: relative;
    top: -90px;
}
.indicate{
    position:relative;
    top:550px
}
@media only screen and (max-width:668px) {
    .next-batch{
        position: relative;
        top:10px;
    }
    .indicate{
        position: relative;
        top:850px;
    }
    
}
.btn-next-batch{
    width:fit-content;
    padding: 0px 5px;
    margin: auto;
}
.details1 p{
    margin-bottom: 25px;
}
.details2 p{
    margin-bottom: 25px;
}
.course-speciality{
    background: #F5F7FF;
}
.project-bg{
    background:#dfdfe0;
}
.course-speciality-img img{
    width: 40%;
}
.bg-about{
    background: #F5F7FF;
}
.cursor-pointer{
    cursor: pointer;
}